

body
  margin 0
  padding 0
  width 100%
.menu-wrapper
  height 100vh
  width 80px
  background #202B33
  padding-top 20px
.menu-header img
  width 50px
.menu-header
  height 50px
  width 50px
  margin 0 auto
  margin-bottom 50px
.btn
  width 100%
  height 80px
.inline
  display inline-block
.expand
   height 20px
   width 100%
   text-align center
.expand-button
   text-decoration none
   color white

.expanded
    width 160px
